body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}

.plus-sign {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: #252323;
    display: none;
}

.dot {
    position: absolute;
    width: 20px;
    left: 50%;
    height: 20px;
    background-color: #252323;
    border-radius: 50%;
    display: none;
}

#startButton {
    position: absolute;
    top: 50%;
    padding: 10px 10px;
    font-size: 20px;
    background-color: #6c6c6c;
}

#experiment {
    display: none;
    width: 90%;
    height: 90%;
    border: 0.5px solid #000;
    justify-content: center;
    align-items: flex-start;
    position: relative;
}

#text-container {
    display: none;
    position: absolute;
    transition: top 0.3s, transform 0.3s;
    width: 100%;
    transform: translateY(-50%);
}

.text-line {
    margin: 5px 0;
    font-size: 20px;
}

#indicator {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.circle {
    width: 50px;
    height: 50px;
    background-color: rgb(151, 141, 141);
    border-radius: 50%;
    margin-bottom: 10px; /* 控制圓點之間的間隔 */
}

.circle:last-child {
    margin-bottom: 0; /* 去除最後一個圓點的底部間隔 */
}