body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(238, 237, 230);
    -webkit-user-select: none; /* 禁用 Chrome、Safari 和 Opera */
    -moz-user-select: none; /* 禁用 Firefox */
    -ms-user-select: none; /* 禁用 Internet Explorer 和 Edge */
    user-select: none; /* 標準屬性 */
}

a {
    text-decoration: none;
    color: #252323;
}

label {
    min-width: 100px;
} 

input {
    flex: 1;
}


#init {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }

#input {
    display: flex; 
    justify-content: space-between; 
    margin-bottom: 10px;
}

.instructions {
    display: none;
    
}

.plus-sign {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 60px;
    font-weight: bold;
    color: #252323;
    display: none;
    cursor: pointer; 
}

.dot {
    position: absolute;
    width: 20px;
    left: 50%;
    transform: translateX(-50%);
    height: 20px;
    background-color: #252323;
    border-radius: 50%;
    display: none;
}

.button {
    display: block; 
    padding: 10px 10px;
    font-size: 20px;
    background-color: #6c6c6c;
    margin: auto;
}


#startButton_Div {
    display: none;
}

#message {
    display: none;
}

#experiment {
    display: none;
    width: 90%;
    height: 90%;
    justify-content:center;
    align-items: center;
    flex-direction: column;
}
    
.text-line {
    font-size: 20px;
    text-align: start;
    margin: 10px 0;
}
    
#text-container {
    display: none;
    position: absolute;
    width: 60%;
}
    
#resultMessage {
    font-size: 25px;
    color: #6c6c6c;
    display: none;
}
    
#indicator-vertical {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    display: none;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    /* background-color: rgba(0, 0, 0, 0.3); */
    border-radius: 20px;

}
    
#indicator-horizontal {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    width: auto;
    height: auto;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
    /* background-color: rgba(0, 0, 0, 0.3); */
    border-radius: 20px;
}
    
.circle {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin: 5px; 
    cursor: pointer; 
    transition: all 0.3s ease;
    background-color: rgba(255, 255, 255, 0.5);
    border: 2px solid rgba(255, 255, 255, 0.7);
}

.circle.active {
    width: 38px;
    height: 38px;
    background-color: white;
    border-color: white;
}

.circle[data-index="0"],
.circle[data-index="2"],
.circle[data-index="3"],
.circle[data-index="5"] {
    background-color: #92929269;
    /* border: 1px solid #877e7e; */
    /* box-shadow: 3px 3px 3px #888888; */
}


/* .circle[data-index="0"]:hover,
.circle[data-index="2"]:hover,
.circle[data-index="3"]:hover,
.circle[data-index="5"]:hover {
    background-color: #787575;
} */

/* .circle[data-index="1"],
.circle[data-index="4"] {
    width: 70px;
    height: 70px;
    background-color: #ffffff;  
    cursor: default; 
    pointer-events: none;  
} */
